*:focus {
  outline: 2px solid slateblue;
}
body {
  font-size: 1.125rem;
  color: #333;
  background: #f6e1e1;
  line-height: 1.5;
}
form {
  width: 100%;
  max-width: 32rem;
  margin: auto;
}
h1 {
  color: #eb4d55;
  font-family: "Bruno Ace", cursive;
  text-transform: uppercase;
}
h2 {
  color: #333366;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
label {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
input {
  padding: 0.7rem;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
label {
  padding-top: 1rem;
  color: #333366;
}
.form-input {
  width: 30rem;
}
.submit-button {
  font-family: "Bruno Ace", cursive;
  font-weight: 500;
  font-size: larger;
  width: 15rem;
  text-align: center;
  padding: 0.5rem;
  color: #eb4d55;
  text-transform: uppercase;
  background-color: aliceblue;
  border: 1px solid #333366;
  border-radius: 10px;
  transition: all 200ms ease;
}
.submit-button:hover {
  cursor: pointer;
  color: aliceblue;
  background-color: #333366;
  border: 2px solid aliceblue;
}
.meme-container {
  position: relative;

  width: 600px;
  height: 600px;
  margin: auto;
}
.meme-img-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.img {
  display: block;
  width: 600px;
  height: 600px;
  margin-top: 30px;
  object-fit: contain;
}
.top-msg-div,
.bottom-msg-div {
  position: absolute;
}
.top-msg-div {
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  font-size: 50px;
  color: white;
}
.bottom-msg-div {
  bottom: 16%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  font-size: 50px;
  color: white;
}

.remove-btn {
}
